.schedule-top-bottom-half-rem-margin {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.schedule-top-half-rem-margin {
  margin-top: 0.5rem;
}

.schedule-bottom-half-rem-margin {
  margin-bottom: 0.5rem;
}

.schedule-card-half-rem-padding {
  padding: 0.5rem;
}